// Fonts
$sansSerif = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$monospace = Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif

$bodyBg = white
$bodyColor = black

$fontSizeBase = 1rem
$fontWeightBase = 400
$lineHeightBase = 1.5

$headingsMarginBottom = 1rem
$paragraphMarginBottom = 1rem

$linkColor = black
$linkHoverColor = black

